/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.songName{
    width: 700px;
    overflow: hidden;
    /* white-space: nowrap; */
    text-overflow: ellipsis;

}

.form-check-label{
    background-color: red!important;

}